.TodoApp {
    background-color: green;
    color: #222;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 98vw;
    min-height: 97vh;
    margin: 0 auto;
    overflow: hidden;
}